:root {
    --black: #171614;
    --blue: #33658a;
    --orange: #c97c5d;
    --bg-color: #e2e2e2;
    --secondary-bg-color: #d8d4d5;
    --space: 1rem
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--black);
    background-color: var(--bg-color);
    max-width: 800px;
    margin: auto;
}

footer {
    border-top: 1px solid var(--black);
    font-size: 0.8em;
}

h1 {
    color: var(--orange);
}

h2 {
    margin: 0;
}

nav {
    display: flex;
    gap: var(--space);
    font-size: 1.25rem;
}

a {
    color: var(--blue);
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: var(--space) 0;
}

.stack > * {
    margin-block: 0;
}

.stack > * + * {
    margin-block-start: var(--space);
}

.box {
    background-color: var(--secondary-bg-color);
    padding: calc(var(--space) / 2);
}

.flex {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: var(--space);
}

.flex-space {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-element {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
}

input[type=submit] {
    max-width: 150px;
}

form small {
    color: darkgray;
}