:root {
    --black: #171614;
    --blue: #33658a;
    --orange: #c97c5d;
    --bg-color: #e2e2e2;
    --secondary-bg-color: #d8d4d5;
    --space: 1rem
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--black);
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    color: var(--orange);
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: var(--blue);
    font-size: 20px;
}

footer {
    border-top: 1px solid var(--black);
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: var(--space) 0;
}

.stack > * {
    margin-block: 0;
}

.stack > * + * {
    margin-block-start: var(--space);
}

.request-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: var(--secondary-bg-color);
    padding: calc(var(--space) / 2);
}