{{define "request"}}
<div class="request-detail">
    <span><strong>Method:</strong> {{.Method}}<br></span>
    <span><strong>URL:</strong> {{.URL}}</span><br>
    <span><strong>Host:</strong> {{.Host}}</span><br>
    <span><strong>Path:</strong> {{.Path}}</span><br>
    <span><strong>Timestamp:</strong> {{.Timestamp}}</span><br>
    <span><strong>Body:</strong> {{.Body}}</span><br>
    <span><strong>Headers:</strong></span><br>
    <ul>
        {{ range splitOnNewline .Headers  }}
            <li>{{ . }}</li>
        {{ end }}
    </ul>
</div>
{{end}}