{{define "content"}}
<div class="box">
    <span><strong>Method:</strong> {{.Request.Method}}<br></span>
    <span><strong>Host:</strong> {{.Request.Host}}</span><br>
    <span><strong>Path:</strong> {{.Request.Path}}</span><br>
    <span><strong>Timestamp:</strong> {{.Request.Timestamp}}</span><br>
    <span><strong>Body:</strong> {{.Request.Body}}</span><br>
    <span><strong>Headers:</strong></span><br>
    <ul>
        {{ range .Request.Headers  }}
            <li><strong>{{ .Name }}</strong>: {{ .Value }}</li>
        {{ end }}
    </ul>
</div>
{{end}}