{{define "request"}}
<div class="request-detail">
    <div>
        <strong>{{.Method}} {{.Path}}</strong>
    </div>
    <div>
        <small>{{ dateInZone "01-02-2006 3:04:05PM MST" (.Timestamp) "UTC" }}</small>
    </div>
    <div>
<!--        <button>Details</button>-->
<!--        <button>Delete</button>-->
        {{ $id := .ID }}
        <a href="/request/{{ .ID }}">Details</a>
<!--        {{template "action-button" (dict "Action" (printf "/request/%s" $id) "Method" "GET" "ButtonText" "Detail")}}-->
        {{template "action-button" (dict "Action" (printf "/request/%s" $id) "Method" "DELETE" "ButtonText" "Delete")}}
    </div>
</div>
{{end}}