{{define "request"}}
<div class="box flex-space">
    <div>
        <h4 style="margin: 0;">{{.Method}} {{.Path}}</h4>
        <small>{{dateInZone "01-02-2006 3:04:05PM MST" (.Timestamp) "UTC"}}</small>
        <p>{{ .Response }}</p>
    </div>
    <div class="flex">
        <p>Namespace: <a href="#">{{ .NamespaceName }}</a></p>
        <a href="/request/{{.ID}}">Details</a>
        {{template "action-button" (dict "Action" (printf "/request/%s" .ID) "Method" "DELETE" "ButtonText" "Delete")}}
    </div>
</div>
{{end}}